body {
  padding: 30px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  background: lightblue;
}

section {
  background: lightgreen;
  width: 73%;
  align-self: flex-start;
}

article {
  background: white;
  margin: 0 0 1rem 0;
}

aside {
  background: pink;
  width: 23%;
  min-height: 100%;

}

header, article, section, .module {
  padding: 2%;
}